<mat-drawer-container class="app" autosize>
  <mat-drawer #drawer class="app-drawer" mode="side">
    <navigation></navigation>
  </mat-drawer>

  <main class="main">
    <mat-toolbar class="app-toolbar" color="primary">

      <span>Rechnungsverwaltung Typeflow e.U.</span>
      <button type="button" class="hamburger" mat-button (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>

    </mat-toolbar>

    <section class="app-content">
      <router-outlet></router-outlet>
    </section>

  </main>

</mat-drawer-container>
