@import '_variables';

.app {
  min-height: 100vh;
}

.app-drawer {
  padding: $spacer;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer/4 $spacer;


  .hamburger {}
}

.app-content {
  padding: $spacer * 2;
}
