<main>
<mat-sidenav-container class="app">
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>

  <customer-form></customer-form>
  <customer-list></customer-list>

  <!-- <bill-form></bill-form> -->

</main>



<md-sidenav-container class="app">

    <md-sidenav #focusSidenav>
      <app-navigation></app-navigation>
    </md-sidenav>

    <md-toolbar color="primary">
      <div class="navigation__bar">
        <button class="navigation__hamburger" md-button>
          <app-icon iconType="menu" size="large" (click)="focusSidenav.open()"></app-icon>
        </button>
      </div>
    </md-toolbar>

    <main class="neatural">

      <router-outlet></router-outlet>

    </main>

</md-sidenav-container>

